$background-color: #000000;
$header-color: #ffe600;
$font-color: #00ff15;
$font-fam: Arial, Helvetica, sans-serif;


html, body {
  background: $background-color ;

}
p,h1,h2,ul, pre, label {
  color: $font-color;
  font-family: $font-fam; 
}
h1 {
  color: $header-color;

}
