$background-color: #000000;
$font-color: #FFFFFF;

/* $variable-name: value; */
/* in scss, protip, use a var name that describes the thing that is changing, not the value!*/


html, body {
  background: $background-color ;

}
p,h1,h2,ul {
  color: $font-color;
}